{% extends "layout.html" %} {% block content %}
<div class="row d-flex justify-content-around">
    {% for bank_data in data %}
    <div class="card col-6 col-md-4 m-5">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1550565118-3a14e8d0386f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ bank_data.name }}</h5>
            <p class="card-text">
                {{ bank_data.name }}
            </p>
            <a href="{{ bank_data.link }}" class="btn btn-primary">Download Report</a>
        </div>
    </div>
    {% endfor %}
</div>


<table class="table table-striped">
    <tr>
        <th>Bank Name</th>
        <th>Bank URL</th>
        <th>Last Modified</th>
        <th>To Download</th>
    </tr>
    {% for bank_data in data %}
    <tr>
        <td>
            <a href="/bank/{{ bank_data.name }}"> {{ bank_data.name }} </a>
        </td>
        <td>
            <a href="{{ bank_data.link }}"> {{ bank_data.link }}</a>
        </td>
        <td>
            {{ bank_data.last_modified }}
        </td>
        <td>
            {{ bank_data.download }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}