{% extends "layout.html" %} {% block content %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1550565118-3a14e8d0386f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Bank List</h5>
        <p class="card-text">
            A bank is a financial institution that accepts deposits and recurring accounts from the people and creates a demand deposit.
        </p>
        <a href="/banks" class="btn btn-primary">List Banks</a>
    </div>
</div>
{% endblock %}